{% extends 'views/layout/base.html' %}

{% block body %}

  <h2 class="title has-text-centered mt-3">Administrá los usuarios</h2>
  <a href="/users/create" class="button is-primary my-5">Agregá un usuario</a>

  {% for message in messages %}
    <div class="notification is-primary is-light my-3">
      {{message}}
    </div>
  {% endfor %}

  {% for error in errors %}
    <div class="notification is-danger is-light">
      {{error}}
    </div>
  {% endfor %}


  <div class="table-container">
    <table class="table is-striped is-narrow is-hoverable">
      <thead>
        <tr>
          <th class="has-text-centered">Nombre</th>
          <th class="has-text-centered">Apellido</th>
          <th class="has-text-centered">Tipo Documento</th>
          <th class="has-text-centered">Numero Documento</th>
          <th class="has-text-centered">Nacionalidad</th>
          <th class="has-text-centered">Direccion</th>
          <th class="has-text-centered">Telefono</th>
          <th class="has-text-centered">E-mail</th>
          <th class="has-text-centered">Fecha Nacimiento</th>
          <th class="has-text-centered">Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for user in data.users %}
          <tr>
            <td class="has-text-centered">
              <span class="my-6 tag is-size-6">
                {{user.name}}
              </span>
            </td>
            <td class="has-text-centered">
              <span class="my-6 tag is-size-6">
                {{user.surname}}
              </span>
            </td>
            <td class="has-text-centered">
              <span class="my-6 tag is-size-6">
                {{user.documentType}}
              </span>
            </td>
            <td class="has-text-centered">
              <span class="my-6 tag is-size-6">
                {{user.documentNumber}}
              </span>
            </td>
            <td class="has-text-centered">
              <span class="my-6 tag is-size-6">
                {{user.nationality}}
              </span>
            </td>
            <td class="has-text-centered">
              <span class="my-6 tag is-size-6">
                {{user.address}}
              </span>
            </td>
            <td class="has-text-centered">
              <span class="my-6 tag is-size-6">
                {{user.phone}}
              </span>
            </td>
            <td class="has-text-centered">
              <span class="my-6 tag is-size-6">
                {{user.email}}
              </span>
            </td>
            <td class="has-text-centered">
              <span class="my-6 tag is-size-6">
                {{user.birthdate.toISOString().split('T')[0]}}
              </span>
            </td>
            <td>
              <span class="is-flex my-6">
                <a href="/users/edit/{{user.id}}" class="button is-primary mx-1">Editar</a>
                <a data-id={{user.id}} data-name={{user.name}} data-surname={{user.surname}} id="delete-btn" class="button is-danger">Eliminar</a>
              </span>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div id="prompt-container"></div>

  <script src="./public/js/prompt-delete-user.js"></script>
{% endblock %}