{% extends 'views/layout/base.njk' %}

{% block body %}
  <div class="container">
    <h1 class="title mt-5">Usuario: {{user.name}} {{user.surname}}</h1>
    <table class="table is-fullwidth is-size-5">
      <tbody>
        <tr>
          <th>Nombre</th>
          <td>{{user.name}}</td>
        </tr>
        <tr>
          <th>Apellido</th>
          <td>{{user.surname}}</td>
        </tr>
        <tr>
          <th>Tipo Documento</th>
          <td>{{user.documentType}}</td>
        </tr>
        <tr>
          <th>Numero Documento</th>
          <td>{{user.documentNumber}}</td>
        </tr>
        <tr>
          <th>Nacionalidad</th>
          <td>{{user.nationality}}</td>
        </tr>
        <tr>
          <th>Dirección</th>
          <td>{{user.address}}</td>
        </tr>
        <tr>
          <th>Telefono</th>
          <td>{{user.phone}}</td>
        </tr>
        <tr>
          <th>Email</th>
          <td>{{user.email}}</td>
        </tr>
        <tr>
          <th>Fecha nacimiento</th>
          <td>{{user.birthdate.toISOString().split('T')[0]}}</td>
        </tr>
      </tbody>
    </table>
    <div class="field is-grouped my-4">
      <p class="control">
        <a href="/users/edit/{{user.id}}">
          <button class="button is-primary mx-2">
            <span class="icon">
              <i class="fas fa-edit"></i>
            </span>
            <span>Editar</span>
          </button>
        </a>
        <button id="delete-btn" data-id="{{user.id}}" data-name="{{user.name}}" data-surname="{{user.surname}}" class="button is-danger">
          <span class="icon">
            <i class="fas fa-trash-alt"></i>
          </span>
          <span>Eliminar</span>
        </button>
      </p>
    </div>
  </div>

  <div id="prompt-container"></div>
{% endblock %}

{% block scripts %}
<script src="/public/js/prompt-delete-user.js"></script>
{% endblock %}

