{% extends 'views/layout/base.html' %} 

{% block body %}

  <h1 class="title has-text-centered mt-3">Administrá los alquileres</h1>
  <a href="/rents/create" class="button is-primary my-5">Agrega un alquiler</a>

  {% for message in messages %}
    <div class="notification is-primary is-light my-3">{{message}}</div>
  {% endfor %} {% for error in errors %}
    <div class="notification is-danger is-light">{{error}}</div>
  {% endfor %}

  <div class="table-container">
    <table class="table is-striped is-narrow is-hoverable is-fullwidth">
      <thead>
        <tr>
          <th class="has-text-centered">Auto</th>
          <th class="has-text-centered">Cliente</th>
          <th class="has-text-centered">Precio Por Dia</th>
          <th class="has-text-centered">Rentado el dia</th>
          <th class="has-text-centered">Rentado hasta</th>
          <th class="has-text-centered">Precio Total</th>
          <th class="has-text-centered">Metodo de Pago</th>
          <th class="has-text-centered">Abonado</th>
        </tr>
      </thead>
      <tbody>
        {% for rent in data.rents %}
          <tr>
            <td class="has-text-centered">
              <span class="my-6 tag is-size-6"> {{rent.Car.brand}} {{rent.Car.model}} </span>
            </td>
            <td class="has-text-centered">
              <span class="my-6 tag is-size-6"> {{rent.User.name}} {{rent.User.surname}} </span>
            </td>
            <td class="has-text-centered">
              <span class="my-6 tag is-size-6"> {{rent.pricePerDay}} </span>
            </td>
            <td class="has-text-centered">
              <span class="my-6 tag is-size-6"> {{rent.startDate.toISOString().split('.', 1)[0]}} </span>
            </td>
            <td class="has-text-centered">
              <span class="my-6 tag is-size-6"> {{rent.finishDate.toISOString().split('.', 1)[0]}} </span>
            </td>
            <td class="has-text-centered">
              <span class="my-6 tag is-size-6"> {{rent.totalPrice}} </span>
            </td>
            <td class="has-text-centered">
              <span class="my-6 tag is-size-6"> {{rent.paymentMethod}} </span>
            </td>
            <td class="has-text-centered">
              <span class="my-6 tag is-size-6"> {{ "Si" if rent.isPaid }} {{ "No" if not rent.isPaid }} </span>
            </td>
          </tr>
        {% endfor %} 
      </tbody>
    </table>
  </div>
{% endblock %}
