{% extends 'views/layout/base.html' %}

{% block body %}

  {% if data.car %}
    <h2 class="title has-text-centered mt-3">Edita el auto {{data.car.brand}} {{data.car.model}}</h2>
  {% else %}
    <h2 class="title has-text-centered mt-3">Agregá un nuevo auto</h2>
  {% endif %}

  <form class="mt-5" action="/cars/save" method="POST" enctype="multipart/form-data">
    <input type="hidden" name="id" value="{{data.car.id}}" >

    <div class="field mt-3">
      <label class="label">Marca</label>
      <div class="control has-icons-left">
        <input class="input" name="brand" type="text" placeholder="Marca" value="{{data.car.brand}}" required>
        <span class="icon is-small is-left">
          <i class="fas fa-car"></i>
        </span>
      </div>
    </div>

    <div class="field mt-5">
      <label for="model" class="label">Modelo</label>
      <p class="control has-icons-left">
        <input class="input" name="model" type="text" placeholder="Modelo" value="{{data.car.model}}" required>
        <span class="icon is-small is-left">
          <i class="fas fa-car"></i>
        </span>
      </p>
    </div>

    <div class="field mt-5">
      <label for="year" class="label">Año</label>
      <p class="control has-icons-left">
        <input class="input" name="year" type="number" placeholder="Año" value="{{data.car.year}}" required>
        <span class="icon is-small is-left">
          <i class="fas fa-car"></i>
        </span>
      </p>
    </div>

    <div class="field mt-5">
      <label for="mileage" class="label">Kilometros</label>
      <p class="control has-icons-left">
        <input class="input" name="mileage" type="number" placeholder="Kilometros" value="{{data.car.mileage}}" min="0" required>
        <span class="icon is-small is-left">
          <i class="fas fa-road"></i>
        </span>
      </p>
    </div>

    <div class="field mt-5">
      <label for="color" class="label">Color</label>
      <p class="control has-icons-left">
        <input class="input" name="color" type="text" placeholder="Color" value="{{data.car.color}}" required>
        <span class="icon is-small is-left">
          <i class="fas fa-palette"></i>
        </span>
      </p>
    </div>

    <div class="field mt-5">
      <label for="air_coditioning" class="label">Aire Acondicionado</label>
      <div class="control">
        <label class="radio">
          <input type="radio" name="air_conditioning" value="1" {{ "checked" if data.car.airCoditioning }}>
          Si
        </label>
        <label class="radio">
          <input type="radio" name="air_conditioning" value="0" {{ "checked" if not data.car.airCoditioning }}>
          No
        </label>
      </div>
    </div>

    <div class="field mt-5">
      <label for="passengers" class="label">Pasajeros</label>
      <div class="control">
        <div class="select">
          <select name="passengers" required>
            <option value="1" {{ "selected" if data.car.passengers === 1 }}>1</option>
            <option value="2" {{ "selected" if data.car.passengers === 2 }}>2</option>
            <option value="3" {{ "selected" if data.car.passengers === 3 }}>3</option>
            <option value="4" {{ "selected" if data.car.passengers === 4 }}>4</option>
            <option value="5" {{ "selected" if data.car.passengers === 5 }}>5</option>
          </select>
        </div>
      </div>
    </div>

    <div class="field mt-5">
      <label for="transmission" class="label">Transmision</label>
      <div class="control">
        <label class="radio">
          <input type="radio" name="transmission" value="automatica" {{"checked" if data.car.transmission === 'automatica'}}>
          Automatica
        </label>
        <label class="radio">
          <input type="radio" name="transmission" value="manual" {{"checked" if data.car.transmission === 'manual'}}>
          Manual
        </label>
      </div>
    </div>

    <div class="field mt-5">
      <label for="price_day" class="label">Precio Por Día</label>
      <p class="control has-icons-left">
        <input class="input" name="price_day" type="number" placeholder="Precio por día" value="{{data.car.priceDay}}" required>
        <span class="icon is-small is-left">
          <i class="fas fa-dollar-sign"></i>
        </span>
      </p>
    </div>

    <div class="field mt-5">
      <label for="image" class="label">Imagen del auto</label>
      <div class="control">
        {% if data.car %}
          <figure>
            <img class="image is-256x256" src="/{{data.car.image}}" >
          </figure>
          <label class="label mt-5">Nueva Imagen</label>
          <input name="image" type="file" class="input">
        {% else %}
          <input name="image" type="file" class="input" required>
        {% endif %}
      </div>
    </div>

    <div class="field is-grouped is-grouped-centered">
      <p class="control">
        <button class="button is-success my-4">
          Guardar
        </button>
        <a href="/cars" class="button my-4 ml-3">
          Volver atras
        </a>
      </p>
    </div>

  </form>
{% endblock %}