{% extends 'views/layout/base.html' %}

{% block body %}

  {% if data.car %}
    <h2 class="title has-text-centered">Edita el auto {{data.car.brand}} {{data.car.model}}</h2>
  {% else %}
    <h2 class="title has-text-centered">Agregá un nuevo auto</h2>
  {% endif %}

  <form class="mt-5" action="/cars/save" method="POST" enctype="multipart/form-data">
    <input type="hidden" name="id" value="{{data.car.id}}" >

    <div class="field mt-3">
      <label class="label">Marca</label>
      <div class="control has-icons-left">
          <input class="input" name="brand" type="text" placeholder="Marca" value="{{data.car.brand}}" required>
      </div>
    </div>

    <div class="field mt-5">
      <label for="model" class="label">Modelo</label>
      <p class="control has-icons-left">
        <input class="input" name="model" type="text" placeholder="Modelo" value="{{data.car.model}}" required>
      </p>
    </div>

    <div class="field mt-5">
      <label for="year" class="label">Año</label>
      <p class="control has-icons-left">
        <input class="input" name="year" type="number" placeholder="Año" value="{{data.car.year}}" required>
      </p>
    </div>

    <div class="field mt-5">
      <label for="mileage" class="label">Kilometros</label>
      <p class="control has-icons-left">
        <input class="input" name="mileage" type="number" placeholder="Kilometros" value="{{data.car.mileage}}" min="0" required>
      </p>
    </div>

    <div class="field mt-5">
      <label for="color" class="label">Color</label>
      <p class="control has-icons-left">
        <input class="input" name="color" type="text" placeholder="Color" value="{{data.car.color}}" required>
      </p>
    </div>

    <div class="field mt-5">
      <label for="air_coditioning" class="label">Aire Acondicionado</label>
      <div class="control">
        <label class="radio">
          {% if data.car.airCoditioning %}
            <input type="radio" name="air_conditioning" value="1" checked>
          {% else %}
            <input type="radio" name="air_conditioning" value="1">
          {% endif %}
          Si
        </label>
        <label class="radio">
          {% if data.car.airCoditioning %}
            <input type="radio" name="air_conditioning" value="0">
          {% else %}
            <input type="radio" name="air_conditioning" value="0" checked>
          {% endif %}
          No
        </label>
        
      </div>
    </div>

    <div class="field mt-5">
      <label for="passengers" class="label">Pasajeros</label>
      <div class="control">
        <div class="select">
          <select name="passengers" required>
            {% if data.car.passengers === 1 %}
            <option value="1" selected>1</option>
            {% else %}
            <option value="1" >1</option>
            {% endif %}

            {% if data.car.passengers === 2 %}
            <option value="2" selected>2</option>
            {% else %}
            <option value="2">2</option>
            {% endif %}

            {% if data.car.passengers === 3 %}
            <option value="3" selected>3</option>
            {% else %}
            <option value="3" >3</option>
            {% endif %}

            {% if data.car.passengers === 4 %}
            <option value="4" selected>4</option>
            {% else %}
            <option value="4" >4</option>
            {% endif %}
          </select>
        </div>
      </div>
    </div>

    <div class="field mt-5">
      <label for="transmission" class="label">Transmision</label>
      <div class="control">
        <label class="radio">
          {% if data.car.transmission === 'automatica' %}
          <input type="radio" name="transmission" value="automatica" checked>
          {% else %}
          <input type="radio" name="transmission" value="automatica">
          {% endif %}
          Automatica
        </label>
        <label class="radio">
          {% if data.car.transmission === 'manual' %}
          <input type="radio" name="transmission" value="manual" checked>
          {% else %}
          <input type="radio" name="transmission" value="manual" >
          {% endif %}
          Manual
        </label>
      </div>
    </div>

    <div class="field mt-5">
      <label for="price_day" class="label">Precio Por Día</label>
      <p class="control has-icons-left">
        <input class="input" name="price_day" type="number" placeholder="Precio por día" value="{{data.car.priceDay}}" required>
      </p>
    </div>

    <div class="field mt-5">
      <label for="image" class="label">Imagen del auto</label>
      <div class="control">
        {% if data.car %}
        <figure class="image is-128x128">
          <img src="/{{data.car.image}}" >
        </figure>
        <label class="label">Nueva Imagen</label>
        <input name="image" type="file" class="input">
        {% else %}
        <input name="image" type="file" class="input" required>
        {% endif %}
      </div>
    </div>

    <div class="field  is-grouped is-grouped-centered">
      <p class="control">
        <button class="button is-success my-4">
          Guardar
        </button>
        <a href="/" class="button my-4 ml-3">
          Volver atras
        </a>
      </p>
    </div>

  </form>
{% endblock %}